<div bsModal #confirmModal="bs-modal" class="modal fade citia-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button *ngIf="xBtn" type="button" class="close" aria-label="Close" (click)="hideConfirmModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{{ title }}</h4>
            </div>
            <div class="modal-body">
                <ng-content></ng-content>
            </div>
            <div class="modal-footer">
                <button (click)="acceptedAction()" type="button" class="btn btn-primary citia-btn-primary">{{ confirmBtnLabel }}</button>
                <button *ngIf="closeBtn" (click)="hideConfirmModal()" type="button" class="btn btn-primary citia-btn-secondary">{{ closeBtnLabel }}</button>
            </div>
        </div>
    </div>
</div>