.notifications {
    position: fixed;
    left: 0;
    margin-left: 20px;
    top: 0;
    margin-top: 65px;

    .citia-alert-success {
        background-color: #91d7e8;
        color: #486b74;
    }

    .citia-alert-danger {
        background-color: #ef4925;
        color: #782513;
    }

    .citia-alert-neutral {
        background-color: #fed500;
        color: #7f6a00;
    }

    .alert {
        padding: 10px;
        box-shadow: 0 0 30px #959595;
        margin-bottom: 0;
        border: none;
    }

    .alert-dismissable .close, .alert-dismissible .close {
        right: -5px;
        margin: 0   3px 0 15px;
    }
}