<div class="notifications" *ngIf="show">
    <div *ngIf="notifications.status == 'OK'" class="alert alert-success citia-alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ notifications.message }}
    </div>
    <div  *ngIf="notifications.status != 'OK'" class="alert alert-danger citia-alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ notifications.message }}
    </div>
</div>