<form [formGroup]="passwordForm" (ngSubmit)="onSubmit(passwordForm.value)">
  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <label for="password">Password</label>
        <!--Fake input field-->
        <input name="oldPasswordFake"
               *ngIf="readonly"
               id="password-fake"
               class="form-control"
               type="password"
               placeholder="Current password"
               value="*******"
               [readonly]="readonly"
        >
        <!--Real input field-->
        <input name="oldPassword"
               id="password"
               *ngIf="!readonly"
               class="form-control"
               type="password"
               [(ngModel)]="user.oldPassword"
               [readonly]="readonly"
               [formControl]="passwordForm.controls['oldPassword']"
               placeholder="Current password"
        >
        <span *ngIf="!passwordForm.controls['oldPassword'].valid && passwordForm.controls['oldPassword'].dirty && !readonly" class="help-block">
          Current password is required.
        </span>
        <span *ngIf="error" class="help-block">
          Wrong password! Try again.
        </span>
      </div>
    </div>
  </div>
  <div *ngIf="!readonly">
    <div class="row">
      <div class="col-xs-6">
        <div class="form-group">
          <input name="newPassword"
                 id="new-password"
                 class="form-control"
                 type="password"
                 [(ngModel)]="user.newPassword"
                 [formControl]="passwordForm.controls['newPassword']"
                 placeholder="New password"
          >
          <span *ngIf="!passwordForm.controls['newPassword'].valid && passwordForm.controls['newPassword'].dirty" class="help-block">
          New password is required.
        </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <div class="form-group">
          <input name="confirmPassword"
                 id="confirm-password"
                 class="form-control" [class.ng-invalid]="passwordForm.hasError('mismatchedPasswords')"
                 type="password"
                 [formControl]="passwordForm.controls['confirmPassword']"
                 [(ngModel)]="confirmPassword"
                 placeholder="Confirm password"
          >
          <span *ngIf="!passwordForm.controls['confirmPassword'].valid && passwordForm.controls['confirmPassword'].dirty" class="help-block">
          Confirm password is required.
        </span>
          <span class="help-block" *ngIf="passwordForm.hasError('mismatchedPasswords')">Passwords do not match.</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="button-wrapper col-xs-6">
      <button type="button"
              class="btn btn-primary citia-btn-secondary pull-left"
              (click)="readonly = !readonly">
        {{ readonly ? 'Edit' : 'Cancel' }}
      </button>
      <button type="submit"
              [disabled]="!passwordForm.valid"
              [style.display]="readonly ? 'none' : 'block'"
              class="btn btn-primary citia-btn-primary">
        Update
      </button>
    </div>
  </div>
</form>
<notifications-message [notification]="notification"></notifications-message>